@media only screen and (max-width: 992px) {
    /* hero section */
    .hero .judul {
        font-size: 10px;
        line-height: 150%;
        font-size: 36px;
        line-height: 150%;
    }

    .hero .sub {
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
    }
    
    .hero .car {
        width: 344px;
        height: 199px;
        margin-left: 16px;
        margin-top: 24px;
    }

    /* bestCar */

    .best {
        margin-left: 16px;
    }
    .best img{
        width: 252px;
    }

    .best .judul {
        margin-top: 24px;
    }

    .best .list-grou-item {
        width: 328px;
        margin-left: 16px;
    }

    /* why Us */
    .why .judul {
        text-align: center;
    }

    .why .sub {
        text-align: center;
    }

    .why .card {
        width: 328px;
        margin-left: 16px;
    }

    /* testimonial */
    .testi h1 {
        text-align: center;
    }

    .testi p {
        text-align: center;
    }

    /* lokasi */
    .lokasi .row {
        width: 328px;
        margin-left: 16px;
    }

    .lokasi .judul{
        font-size :24px;
        width: 212px;
        margin-left: 50px;
    }

    .lokasi .sub{
        font-size: 14px;
        width: 212px;
        margin-left: 50px;
    }
    

    /* question */
    .question .judul {
        text-align: center;
    }

    .question .sub {
        text-align: center;
    }
    .question .accordion-item {
        width: 328px;
        margin-left: 16px;
    }

    /* footer */
    .footer {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .item h3 {
        width: 268px;
    }

    .item h4 {
        font-weight: 400px;
    }

}

