* {
    font-family: Arial, Helvetica, sans-serif;
}


.navbar {
    background-color: #F1F3FF;
  }
  
  /* section hero */
  .hero {
    padding-top: 70px;
    background-color: #f1f3ff; 
  }
  
  
  .hero .judul {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
  }
  
  .hero .sub {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }

  .hero .car {
    width: 650px;
  }
  
  .btn-sewa {
    background: #5CB85F;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
    color: #ffff;
  }
  
  /* section  */
  .best {
    margin-top: 75px;
    margin-left: 208px;
  }
  
  .best .judul {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
  }
  
  .best .sub {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }

  .best img {
    width: 459px;
  }
  
  .best .list-group-item{
    font-weight: 300;
    font-size: 14px;
    border: none;
  }
  
  /* card section */
  .why .judul {
    margin-top: 125px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
  }
  
  .why .sub {
    margin-top: 16px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;  
  }
  
  .why .card {
    width: 268px;
    height: 196px;
    border-radius: 1px;
  }
  
  .why img {
    margin: 15px 0 0 15px;
    width: 32px;
  }
  
  .why .card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }
  
  .why .card-text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
  
  /* testi */
  
  .testi .card {
    background: #F1F3FF;
  }
  
  /* lokasi */
  .lokasi {
    margin-top: 156px;
  }
  .lokasi .row {
    background-color: #0D28A6;
    border-radius: 13px;
  }
  
  .lokasi h1 {
    margin-top: 64px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    color: #FFFFFF;
    text-align: center;
  }
  
  .lokasi p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 52px;
  }
  
  .btn-lokasi {
    background: #5CB85F;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
    color: #ffff;
    margin-bottom: 64px;
  }
  
  /* section question */
  .question{
    margin-top: 104px;
  }
  
  .question .judul {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
  }
  
  .question .sub {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
  
  .accordion-item {
    margin-bottom: 20px;
  }
  
  .accordion-button {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
  
  /*  section footer */
  .footer {
    margin-top: 150px;
    margin-bottom: 100px;
  }
  
  .item h3 {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
  
  .item h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}
  
  .item h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
  
  .footer .item.social > a {
      font-size: 24px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      border: 1px solid #ccc;
      margin-top: 22px;
      color: #fff;
      opacity: 0.75;
      background-color: #0D28A6;
}

/* section filter */
.filter .container {
  z-index: 2; 
  margin-top: -20px; 
  background-color: #fff;
}