<div class="content-wrapper">
  <div class="container">
    <div class="row mb-lg-3">
      <div class="col-lg-10">
        <p style="font-size: small;"><strong> Cars <i class="fa-solid fa-chevron-right"></i><a href="/"
              style="color: black;"></strong> <strong> List Car <i class="fa-solid fa-chevron-right"></i></strong></a>
          Add New Car</p>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-10">
        <p style="font-weight: bold; font-size: 20px;">Add New Car</p>
      </div>
    </div>
    <!-- add new cars -->
    <div class="container">
      <div class="card">
        <form action="http://localhost:8000/cars" method="post" class="card-body">
          <div class="row mb-3">
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Nama</label>
            <div class="col-sm-10">
              <input type="text" name="name" class="form-control form-control-sm" id="colFormLabelSm"
                placeholder="Avanza">
            </div>
          </div>

          <div class="row mb-3">
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Sewa
              Per-Hari</label>
            <div class="col-sm-10">
              <input type="text" name="price" class="form-control form-control-sm" id="colFormLabelSm"
                placeholder="Rp.0,-">
            </div>
          </div>
          <div class="row mb-3">
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Ukuran</label>
            <div class="col-sm-10">
              <select name="size" class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected></option>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Foto</label>
            <div class="col-sm-10">
              <input type="text" name="photo" class="form-control form-control-sm" id="colFormLabelSm"
                placeholder="Masukan Url Foto Disini">
            </div>
          </div>
      </div>

      <div id="carAdd" class="d-flex post-save" style="margin-top: 30%; margin-bottom: 5%;">
        <a href="/" class="btn btn-outline-primary listcar rounded px-3 py-2"
          style="color: #0D28A6; border-color: #0D28A6; border-width: 2px;"><strong>Cancel</strong></a>
        <button type="submit" class="btn btn btn-primary rounded px-3 py-2 ms-4" style="background-color:#0D28A6;">
          Save</button>
      </div>

      </form>


      <!-- add new cars -->
    </div>
  </div>
</div>